<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log">
	<Properties>
		<Property name="kafka.topic">${env:KAFKA_LOGS_TOPIC}</Property>
		<Property name="kafka.bootstrap.servers">${env:BOOTSTRAP_SERVERS}</Property>
	</Properties>
	<Appenders>
		<Kafka name="KafkaLogAppender" topic="${kafka.topic}">
			<JSONLayout />
			<!--  <PatternLayout pattern="%date %message"/>  -->
			<Property name="bootstrap.servers">${kafka.bootstrap.servers}</Property>
		</Kafka>

		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} stdout %highlight(%-5p) [%-7t] %F:%L - %m%n" />
		</Console>
		
		<Console name="stderr" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} stderr %highlight(%-5p) [%-7t] %F:%L - %m%n" />
		</Console>

	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="KafkaLogAppender" />
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
		</Root>
		<Logger name="org.apache.kafka" level="WARN" />
	</Loggers>
</Configuration>